#APP 
SERVERNAME=exchangeBot

# exchange or grpc
BUILD_TARGET=exchange

#WEB
PRODUCTION=false
PROXY_SERVER=false
PROXY_PORT=
HOST_WEB=

CONTENT_EMBED=false

USERNAME_AUTH=
PASSWORD_AUTH=

#BINANCE
API_KEY_BINANCE=
API_SECRET_BINANCE=

#TELEGRAM
TELEGRAM_TOKEN=
TELEGRAM_USER=

# DB
DB_HOST_DOCKER=mysql
DB_HOST_LOCAL=127.0.0.1
DB_PORT=
DB_PORT_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

#make 
GITHUB_TOKEN=

#log 
PRODUCTION_LOG=false
DEBUG_LOG=false

#grpc
GRPC_HOST_DOCKER=
GRPC_HOST_LOCAL=
GRPC_PORT=
