# exchange or grpc
APP_EXCHANGE_TYPE=exchange
# pairs 
APP_PAIRS_FROM_FILE=true

#WEB
WEB_PRODUCTION=
WEB_PROXY_SERVER=
WEB_PROXY_PORT=
WEB_HOST=
WEB_CONTENT_EMBED=
WEB_USERNAME_AUTH=
WEB_PASSWORD_AUTH=

#EXCHANGE
EXCHANGE_API_KEY=
EXCHANGE_SECRET_KEY=

#TELEGRAM
TLG_TOKEN=
TLG_USER=
TLG_NOTIFICATION_ENABLE=true

# DB
DB_HOST_DOCKER=mysql
DB_HOST_LOCAL=127.0.0.1
DB_PORT=3306
DB_PORT_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

#log 
LOG_PRODUCTION=false
LOG_DEBUG=false

#grpc
GRPC_HOST_DOCKER=exchange_service
GRPC_HOST_LOCAL=0.0.0.0
GRPC_PORT=50051

#tracer
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317
OTEL_SERVICE_NAME=exchange-bot

#notfication
NOTIFICATION_ENABLE=true

#frontend
VITE_GRAFANA_URL=grafana

#make 
GITHUB_TOKEN=