# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test


# Output of the go coverage tool, specifically when used with LiteIDE
*.out


*.log

certs/*
!certs/.gitkeep 

.env
*.bak

# IDE
.idea

configs/*
!configs/example/
!configs/example/*
internal/strategy/**/config.yaml
!internal/strategy/**/config.example.yaml
internal/indicator/**/config.yaml
!internal/indicator/**/config.default.yaml


