{{template "base" . }}


{{define "content"}}

<div class="container">


  <div class="row mt-3">
    <div class="col-2">
      <div class="d-flex  gap-2 ">24часа:<div class="text-primary" id="ch24-top" style="font-weight: bold; "></div></div>
    </div>
    <div class="col-2">
      <div class="d-flex  gap-2 ">Объем:<div class="text-primary" id="volume-top" style="font-weight: bold; "></div></div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-2">
      <input class="form-control" list="pairslistOptions" id="pairs" placeholder="Pair to search...">
      <datalist id="pairslistOptions">
      </datalist>
    </div>
  </div>


  <div class = "button-control mt-5">
    <button type="button" class="btn btn-light" id = "btn-price">Цена</button>
    <button type="button" class="btn btn-light" id = "btn-volume">Объем </button>
    <button type="button" class="btn btn-light" id = "btn-trade">Торговля </button>
    <button type="button" class="btn btn-light" id = "btn-volume-update">Обновить </button>
  </div>

  <div class="row mt-3">   

      <div class="col-4">

        <div class="collapse" id = "list-ch-price" style="overflow-x:auto;height: 500px;"> 
            <div class="scroll-table table-sm">  
              <table id = "table-price" class="table table-hover table-borderless">
                <thead name="thead-price" style="background-color: rgb(239, 239, 239);">
                  <tr>
                    <th scope="col">
                      Пара
                    </th>
                    <th scope="col">
                      ch3m
                    </th>
                    <th scope="col">
                      ch15m
                    </th>
                    <th scope="col">
                      ch1
                    </th>
                    <th scope="col">
                      ch4
                    </th>
                  </tr>
                </thead>    
                <tbody id = "tbody-price"></tbody>
              </table>
            </div> 
 
        </div>

        <div class="collapse" id = "list-ch-volume" style="overflow-x:auto;height: 500px;"> 
          <div class = "buttons-frame">
            <div class="d-flex gap-1 justify-content-end">
              <button type="button" class="btnFrame btn btn-primary active  btn-sm" >5m</button>
              <button type="button" class="btnFrame btn btn-primary  btn-sm">30m </button>
              <button type="button" class="btnFrame btn btn-primary  btn-sm">1h </button>
              <button type="button" class="btnFrame btn btn-primary  btn-sm">4h </button>
              <button type="button" class="btnFrame btn btn-primary  btn-sm">1d </button>
            </div>
          </div>

          <div class="scroll-table table-sm  mt-1">  
            <table id = "table-delta" class="table table-hover table-borderless">
              <thead name="thead-delta" style="background-color: rgb(239, 239, 239);">
                <tr>
                  <th scope="col">
                    Пара
                  </th>
                  <th scope="col">
                    Объем
                  </th>
                  <th scope="col">
                    Сделки
                  </th>
                </tr>
              </thead>    
              <tbody id = "tbody-delta"></tbody>
            </table>
          </div> 
        </div>

      </div>

      <div class="col-8">
        


        <div class="collapse" id="chart-price">

          <div id="tv_chart_container"></div>

            <div class="tradingview-widget-container tech_analysis">
              <div id="tradingview_3418f"></div>
              <div class="tradingview-widget-copyright">
            </div>

            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
            <script type="text/javascript">
              new TradingView.widget(
              {
                "height": "500",
                "symbol": "BINANCE:BTCUSDT",
                "interval": "15",
                "timezone": "Europe/Moscow",
                "theme": "Light",
                "style": "1",
                "locale": "ru",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "allow_symbol_change": true,
                "container_id": "tradingview_3418f"
              });
                  </script>
            </div>


        </div>


        <div class="collapse" id="panel-chart-volume">

          <div class="d-flex gap-1 justify-content-end">
            <input class="form-check-input" type="checkbox" name = "change-delta-check" value="Volume"checked >
            <label class="form-check-label" for="checkVolume"> Volume</label>

            <input class="form-check-input" type="checkbox" name = "change-delta-check" value="VolumeBuy">
            <label class="form-check-label" for="checkVolumeB"> VolumeB</label>

            <input class="form-check-input" type="checkbox" name = "change-delta-check" value="VolumeAsk">
            <label class="form-check-label" for="checkVolumeA"> VolumeA</label>

            <input class="form-check-input" type="checkbox" name = "change-delta-check" value="Trades">
            <label class="form-check-label" for="checkTrades"> Trades</label>

            <input class="form-check-input" type="checkbox" name = "change-delta-check" value="TradesBuy">
            <label class="form-check-label" for="checkTradesB"> TradesB</label>

            <input class="form-check-input" type="checkbox" name = "change-delta-check" value="TradesAsk">
            <label class="form-check-label" for="checkTradesA"> TradesA</label>

          </div>

          <div id ="chart-volume" class="border" >
          </div>


        </div>


        <div class="collapse" id="panel-trade">
          <div id = "panel-trade-top">
            <div class="d-flex gap-1 justify-content-start">
              <button type="button" class="btnTradeTop btn btn-primary active btn-sm">Покупка</button>
              <button type="button" class="btnTradeTop btn btn-primary  btn-sm">Активные</button>
              <button type="button" class="btnTradeTop btn btn-primary  btn-sm">История</button>
            </div>

            <div class="collapse" id="panel-trade-buy">

              <div class="mb-3">
                <label for="panel-trade-buy-strategy" class="form-label">Стратегия:</label>  
                <select name="panel-trade-buy-strategy" id="panel-trade-buy-strategy" class="form-select">
                  <option value="Simple">Simple</option> 
                </select>
              </div>

              <div class="mb-3">
                <label for="panel-trade-buy-comment" class="form-label">Коментарий:</label>
                <textarea class="form-control" id="panel-trade-buy-comment" rows="3" name="text_comment"></textarea>
              </div>

              <div class="mb-3">
                <button type="button" class="btn btn-primary" id = "panel-trade-buy-button-buy">Покупка</button>
              </div>


            </div>

            </div>

            <div class="collapse" id="panel-trade-active">
              
            </div>

            <div class="collapse" id="panel-trade-history">
              
            </div>

          </div>


        </div>

        </div>



      </div>

  </div>
  

</div>

<script>
  forming_page({{ .Pairs}},{{ .MarketsStat}},{{ .ChangePrices}},{{ .DeltaFast}}); 
</script>


{{end}}

