.col {
  text-align: center;
}

 #table-price,#table-delta {
  table-layout: fixed;
  width:100%;
}

#table-price {
  height: 500px;
}
#table-delta {
  height: 469px;
}

thead, tbody tr {
  display: table;
  width: 100%;
}

tbody {
  display: block;
  width: 100%;
  overflow-y:auto;
  height: 460px;
 
}

thead th {
  text-align: center;
} 

tbody td {
  text-align: center;
  word-break: break-all;
} 

 #table-price th:nth-child(1),#table-price  td:nth-child(1) {
width: 34%;
}   
#table-price th:nth-child(2), #table-price td:nth-child(2) {
width: 13%;
}
#table-price th:nth-child(3), #table-price td:nth-child(3) {
width: 13%;
}
#table-price th:nth-child(4),#table-price  td:nth-child(4) {
width: 13%;
}
#table-price th:nth-child(5),#table-price  td:nth-child(5) {
width: 13%;
}
#table-price th:nth-child(6),#table-price  td:nth-child(6) {
  width: 13%;
  }
#table-delta th:nth-child(1), #table-delta td:nth-child(1) {
width: 40%;
}   
#table-delta th:nth-child(2), #table-delta td:nth-child(2) {
width: 30%;
}
#table-delta th:nth-child(3), #table-delta td:nth-child(3) {
width: 30%;
} 





@media (max-width: 767px) {
/* стили для xs-устройств */

*{
  font-size:x-small !important;
}

}
@media (min-width: 768px) and (max-width: 991px) {
/* стили для sm-устройств */
*{
  font-size:small !important;
}
}
@media (min-width: 991px) and (max-width: 1199px) {
/* стили для md-устройств */
}
@media (min-width: 1200px) {
/* стили для lg-устройств */
/* 
*{
  font-size:medium !important;
} */

}

