


.tickers-list {
  font-size: smaller;
}

.chart {
  height: 500px;
}

.col {
  text-align: center;
}

#table-price,#table-delta {
table-layout: fixed;
width:100%;
}

thead, tbody tr {
display: table;
width: 100%;
}


tbody {
display: block;
width: 100%;
height: 500px;
overflow: auto;
} 

thead th {
text-align: center;
} 

tbody td {
text-align: center;
word-break: break-all;
} 
/* .toast {
position: fixed;
right: 20px;
top: 20px;
z-index: 99;
}

.toast:not(.showing):not(.show) {
display: none !important;
} */





#table-price th:nth-child(1),#table-price  td:nth-child(1) {
width: 40%;
}   
#table-price th:nth-child(2), #table-price td:nth-child(2) {
width: 15%;
}
#table-price th:nth-child(3), #table-price td:nth-child(3) {
width: 15%;
}
#table-price th:nth-child(4),#table-price  td:nth-child(4) {
width: 15%;
}
#table-price th:nth-child(5),#table-price  td:nth-child(5) {
width: 15%;
}

#table-delta th:nth-child(1), #table-delta td:nth-child(1) {
width: 40%;
}   
#table-delta th:nth-child(2), #table-delta td:nth-child(2) {
width: 30%;
}
#table-delta th:nth-child(3), #table-delta td:nth-child(3) {
width: 30%;
}





@media (max-width: 767px) {
/* стили для xs-устройств */

*{
  font-size:x-small !important;
}

}
@media (min-width: 768px) and (max-width: 991px) {
/* стили для sm-устройств */
*{
  font-size:small !important;
}
}
@media (min-width: 991px) and (max-width: 1199px) {
/* стили для md-устройств */
}
@media (min-width: 1200px) {
/* стили для lg-устройств */
/* 
*{
  font-size:medium !important;
} */

}

