.col {
  text-align: center;
}

.list {
  height: 500px;
}

#list-ch-price,
#list-ch-volume {
  height: 100%;
}

.chart {
  height: 500px;
}


#table-price,
#table-delta,
#table-trade-active,
#table-trade-history {
  table-layout: fixed;
  width: 100%;
}

#table-price,
#table-delta,
#table-trade-active,
#table-trade-history {
  height: 100%;
}

thead,
tbody tr {
  display: table;
  width: 100%;
}

#table-price tbody,
#table-delta tbody {
  max-height: 418px;
}

#table-trade-active tbody,
#table-trade-history tbody {
  max-height: 300px;
}


tbody {
  display: block;
  width: 100%;
  overflow-y: auto;
}

thead th {
  text-align: center;
}

tbody td {
  text-align: center;
  word-break: break-all;
}

.table-tr-not-active {
  background-color: #f8f9fa;
}

.table-tr-active {
  background-color: #6c757d;
}

.toast {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 99;
}

.toast:not(.showing):not(.show) {
  display: none !important;
}



#table-price th:nth-child(1),
#table-price td:nth-child(1) {
  width: 5%;
}

#table-price th:nth-child(2),
#table-price td:nth-child(2) {
  width: 29%;
}

#table-price th:nth-child(3),
#table-price td:nth-child(3) {
  width: 13%;
}

#table-price th:nth-child(4),
#table-price td:nth-child(4) {
  width: 13%;
}

#table-price th:nth-child(5),
#table-price td:nth-child(5) {
  width: 13%;
}

#table-price th:nth-child(6),
#table-price td:nth-child(6) {
  width: 13%;
}

#table-price th:nth-child(7),
#table-price td:nth-child(7) {
  width: 13%;
}


#table-delta th:nth-child(1),
#table-delta td:nth-child(1) {
  width: 5%;
}

#table-delta th:nth-child(2),
#table-delta td:nth-child(2) {
  width: 35%;
}

#table-delta th:nth-child(3),
#table-delta td:nth-child(3) {
  width: 30%;
}

#table-delta th:nth-child(4),
#table-delta td:nth-child(4) {
  width: 30%;
}


#table-trade-active th:nth-child(1),
#table-trade-active td:nth-child(1) {
  width: 20%;
}

#table-trade-active th:nth-child(2),
#table-trade-active td:nth-child(2) {
  width: 20%;
}

#table-trade-active th:nth-child(3),
#table-trade-active td:nth-child(3) {
  width: 20%;
}

#table-trade-active th:nth-child(4),
#table-trade-active td:nth-child(4) {
  width: 20%;
}

#table-trade-active th:nth-child(5),
#table-trade-active td:nth-child(5) {
  width: 20%;
}

#table-trade-history th:nth-child(1),
#table-trade-history td:nth-child(1) {
  width: 20%;
}

#table-trade-history th:nth-child(2),
#table-trade-history td:nth-child(2) {
  width: 20%;
}

#table-trade-history th:nth-child(3),
#table-trade-history td:nth-child(3) {
  width: 20%;
}

#table-trade-history th:nth-child(4),
#table-trade-history td:nth-child(4) {
  width: 20%;
}

#table-trade-history th:nth-child(5),
#table-trade-history td:nth-child(5) {
  width: 20%;
}


.three-line-legend {
  width: 96px;
  height: 70px;
  position: absolute;
  padding: 0px;
  font-size: 12px;
  color: '#20262E';
  background-color: rgba(255, 255, 255, 0.23);
  text-align: left;
  z-index: 1000;
  pointer-events: none;
}



@media (max-width: 767px) {
  /* стили для xs-устройств */

  * {
    font-size: x-small !important;
  }

}

@media (min-width: 768px) and (max-width: 991px) {

  /* стили для sm-устройств */
  * {
    font-size: small !important;
  }
}

@media (min-width: 991px) and (max-width: 1199px) {
  /* стили для md-устройств */
}

@media (min-width: 1200px) {
  /* стили для lg-устройств */
  /* 
*{
  font-size:medium !important;
} */

}


.switcher {
	display: flex;
	align-items: center;
	height: 30px;
	margin-top: 8px;
	color: #2196F3;
}

.switcher-item {
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	padding: 6px 8px;
	font-size: 14px;
	color: #262b3e;
	background-color: transparent;
	margin-right: 8px;
	border: none;
	border-radius: 4px;
	outline: none;
}


.switcher-item:hover {
	background-color: #f2f3f5;
}

.switcher-active-item {
	text-decoration: none;
	cursor: default;
	color: #262b3e;
}

.switcher-active-item,
.switcher-active-item:hover {
	background-color: #e1eff9;
}