#list {
  height: 500px;
}

.chart {
  height: 500px;
}

.col {
  text-align: center;
}

#list-ch-price,
#list-ch-volume {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}

#table-price {
  table-layout: fixed;
  width: 485px;
}

#table-delta {
  table-layout: fixed;
  width: 625px;
}

#table-trade-active,
#table-trade-history {
  table-layout: fixed;
  width: 100%;
}

#table-trade-active tbody,
#table-trade-history tbody {
  max-height: 300px;

}

tbody {
  display: block;
  overflow-y: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
}

thead th,
tbody td {
  text-align: center;
}


#table-price th:nth-child(1),
#table-price td:nth-child(1) {
  width: 35px;
}

#table-price th:nth-child(2),
#table-price td:nth-child(2) {
  width: 100px;
}

#table-price th:nth-child(3),
#table-price td:nth-child(3) {
  width: 70px;
}

#table-price th:nth-child(4),
#table-price td:nth-child(4) {
  width: 70px;
}

#table-price th:nth-child(5),
#table-price td:nth-child(5) {
  width: 70px;
}

#table-price th:nth-child(6),
#table-price td:nth-child(6) {
  width: 70px;
}

#table-price th:nth-child(7),
#table-price td:nth-child(7) {
  width: 70px;
}


#table-delta th:nth-child(1),
#table-delta td:nth-child(1) {
  width: 35px;
}

#table-delta th:nth-child(2),
#table-delta td:nth-child(2) {
  width: 100px;
}

#table-delta th:nth-child(3),
#table-delta td:nth-child(3) {
  width: 70px;
}

#table-delta th:nth-child(4),
#table-delta td:nth-child(4) {
  width: 70px;
}

#table-delta th:nth-child(5),
#table-delta td:nth-child(5) {
  width: 70px;
}

#table-delta th:nth-child(6),
#table-delta td:nth-child(6) {
  width: 70px;
}

#table-delta th:nth-child(7),
#table-delta td:nth-child(7) {
  width: 70px;
}

#table-delta th:nth-child(8),
#table-delta td:nth-child(8) {
  width: 70px;
}


#table-trade-active th:nth-child(1),
#table-trade-active td:nth-child(1) {
  width: 10%;
}

#table-trade-active th:nth-child(2),
#table-trade-active td:nth-child(2) {
  width: 20%;
}

#table-trade-active th:nth-child(3),
#table-trade-active td:nth-child(3) {
  width: 20%;
}

#table-trade-active th:nth-child(4),
#table-trade-active td:nth-child(4) {
  width: 20%;
}

#table-trade-active th:nth-child(5),
#table-trade-active td:nth-child(5) {
  width: 20%;
}

#table-trade-active th:nth-child(6),
#table-trade-active td:nth-child(6) {
  width: 10%;
}


#table-trade-history th:nth-child(1),
#table-trade-history td:nth-child(1) {
  width: 20%;
}

#table-trade-history th:nth-child(2),
#table-trade-history td:nth-child(2) {
  width: 20%;
}

#table-trade-history th:nth-child(3),
#table-trade-history td:nth-child(3) {
  width: 20%;
}

#table-trade-history th:nth-child(4),
#table-trade-history td:nth-child(4) {
  width: 20%;
}

#table-trade-history th:nth-child(5),
#table-trade-history td:nth-child(5) {
  width: 20%;
}


@media (min-width: 576px) {}

@media (min-width: 768px) {
  * {
    font-size: x-small !important;
  }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
  * {
    font-size: small !important;
  }
}

@media (min-width: 1400px) {
  * {
    font-size: medium !important;
  }
}

.toast {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 99;
}

.toast:not(.showing):not(.show) {
  display: none !important;
}



.three-line-legend {
  width: 96px;
  height: 70px;
  position: absolute;
  padding: 0px;
  font-size: 12px;
  color: '#20262E';
  background-color: rgba(255, 255, 255, 0.23);
  text-align: left;
  z-index: 1000;
  pointer-events: none;
}


.switcher {
  display: flex;
  align-items: center;
  height: 30px;
  color: #2196F3;
}


.switcher-item {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  padding: 6px 8px;
  font-size: 14px;
  color: #262b3e;
  background-color: transparent;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  outline: none;
}


.switcher-item:hover {
  background-color: #f2f3f5;
}

.switcher-active-item {
  text-decoration: none;
  cursor: default;
  color: #262b3e;
}

.switcher-active-item,
.switcher-active-item:hover {
  background-color: #e1eff9;
}


.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 9999;
}


/* Стили для скролла */
::-webkit-scrollbar {
	width: 8px;
  height: 8px;
} 
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px #c6c7c8; 
} 
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px #c6c7c8; 
}